

footer {
    color: #fff;
    background-color: rgb(58, 58, 58);

    width: 100%;
    padding: 25px;

    text-align: center;
}



/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-text-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-text-hover-color);
  }