

/* Declaring variables for re-using and the unified of our website */
:root {
    --primary-text-color: #ff9900;
    --primary-text-hover-color: #ffc400;
    --primary-light-background: rgb(250, 250, 250);

    --banner-height: 90vh;
}



/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

.hight-light {
    color: var(--primary-text-color);
}

.title {
    text-transform: capitalize;
}



body {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    user-select: none;
    background: rgb(150, 150, 150);
}


header {
    background: rgb(150, 150, 150);
}


header nav {
    width: 100%;
    position: relative;
    padding: 0 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    background: #000;
    box-shadow: 0 2px 7px 0px rgba(0, 0, 0, 0.425);

    animation: push-down .75s ease-in-out;
}

header nav #logo {
    font-weight: 900;
    font-size: 32px;
}

header nav #menu ul li {
    list-style: none;
    display: inline-block;
}



header nav #menu ul li a {
    display: inline-block;
    padding: 25px;
}

header nav #menu ul li a:hover {
    color: var(--primary-text-color);
}


header nav #menu ul li a.active-page {
    color: var(--primary-text-hover-color);
    background-color: rgba(117, 117, 117, 0.884);
}



header #banner {
    height: var(--banner-height);
    width: 100%;
    padding: 0 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: url(./img/showcase.jpg) no-repeat;
    background-size: cover;

    color: #fff;
    text-align: center;

    animation: push-up .75s ease-out;
}

header #banner >*:not(:last-child) {
    flex-grow: 1;
}

header #banner h1 {
    font-size: 42pt;

    animation: push-up 1.15s ease;
}

header #banner p {
    font-size: 20px;
    margin-top: 15px;

    opacity: 0;
    animation: push-up 1.15s ease 200ms forwards;
}

header #banner a {
    display: inline-block;
    text-transform: capitalize;
    font-size: 16px;

    margin-top: 35px;
    padding: 15px 20px;

    background-color: rgba(0, 0, 0, 0.445);
    border: 1px solid transparent;
    color: white;

    opacity: 0;
    animation: push-up 1.15s ease 400ms forwards;
}

header #banner a:hover {
    border: 1px solid white;
}

header #banner >div:last-child {
    margin-bottom: 50px;

    border-top: 34px solid;
    border-left: 34px solid transparent;
    border-right: 34px solid transparent;

    color: var(--primary-text-color);

    opacity: 0;
    animation: push-up 1.75s 600ms ease-in-out forwards, jump 2s ease 800ms infinite;
}

